a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #f9f3e8;
}

button {
    margin: 5px;
    font-size: 1.2em;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: #aaa;
    color: white;
    cursor: not-allowed;
    transition: all 0.3s ease;
}

button.active {
    background-color: #218838;
    cursor: pointer;
}

button:hover.active {
    background-color: #28a745;
}

#imageContainer {
    margin-top: 5px;
    margin-left: 20px;
}

.hidden {
    display: none;
}

#surpriseImage {
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100vw;
    z-index: 10;
    background-color: rgb(88, 88, 88);
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
}

.calendar {
    display: block;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 10;
    background-color: rgb(88, 88, 88);
}